<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0j6I2lfCPjwRdlOkO_OFes7n7C_l4FW4</string>
	<key>GCM_SENDER_ID</key>
	<string>534859768573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.luanapp.Grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-1f1a1</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-1f1a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534859768573:ios:cf6cb7b06183a6668cd494</string>
</dict>
</plist>